@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rokkitt:wght@400;600&display=swap');


:root {
  --font-pr: "Poor Richard";
  --font-r: "Rokkitt";
  --font-p: "Poppins";

  --color-principal: #4B2E2B;
  --color-secundario: #FFF3F3;
  --color-terciario: #88AF52;
  --color-neutro1: #FFFFFF;
  --color-neutro2: #000000;
  --color-apoyo-1: #E5E5E5;
  --color-apoyo-2: #6C6C6C;

  --space-xs: 0.5rem;  /* 8px */
  --space-sm: 1rem;  /* 16px */
  --space-md: 1.5rem;  /* 24px */
  --space-lg: 2.5rem;  /* 40px */
  --space-xl: 5rem;  /* 80px */

  --radius: 0.9375rem;  /* 15px */

  --h1-size: 4rem;  /* 64px */
  --h2-size: 3rem;  /* 48px */
  --h3-size: 2.5rem;  /* 40px */
  --h4-size: 2.25rem;  /* 36px */
  --h5-size: 2rem;  /* 32px */
  --h6-size: 1.25rem;  /* 20px */
  --p-size: 2rem;  /* 32px */
}

/* RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button,
input {
  font: inherit;
}

/* BASE (TIPOGRAFÍA) */
body {
  font-family: var(--font-pr);
  font-size: var(--p-size);
  color: var(--color-neutro2);
  background: var(--color-neutro1);
}

h1 {
  font-family: var(--font-pr);
  font-size: var(--h1-size);
  font-weight: 400;
  line-height: 1.15;
  color: var(--color-neutro2);
}

h2 {
  font-family: var(--font-r);
  font-size: var(--h2-size);
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-neutro2);
}

h3 {
  font-family: var(--font-r);
  font-size: var(--h3-size);
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-neutro2);
}

h4 {
  font-family: var(--font-r);
  font-size: var(--h4-size);
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-neutro2);
}

h5 {
  font-family: var(--font-r);
  font-size: var(--h5-size);
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-neutro2);
}

h6 {
  font-family: var(--font-p);
  font-size: var(--h6-size);
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-neutro2);
}

p {
  font-family: var(--font-p);
  font-size: var(--p-size);
  color: var(--color-neutro2);
}

a {
  text-decoration: none;
  color: inherit;
}

/*  HEADER  */
.header {
  background: var(--color-secundario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1.2rem;

}

/* Logo */
.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  height: 4rem;
  width: auto;
}

/* Nav: */
.header__nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  gap: 2.5rem;/*Espacio entre links del header*/
}

/* Links del header = H5: Rokkitt 32px => 2rem */
.header__link {
  font-family: var(--font-r);
  font-size: var(--h5-size);
  font-weight: 400;
  color: var(--color-principal);
  line-height: 1;
}

/* Acciones */
.header__acciones {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__carrito {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }

.header__carrito-img {
  width: 2rem;
  cursor: pointer;
}

/* Buscar */
.header__busqueda {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-left: 0;
  
  }
/* Texto buscar = H5: Rokkitt 32px => 2rem */
.header__buscar-texto {
  font-family: var(--font-r);
  font-size: var(--h5-size);
  font-weight: 400;
  color: var(--color-principal);
  line-height: 1;
}

.header__buscar-input {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 999px;
  padding: 0 1rem;
  font-family: var(--font-r);
  font-size: 1rem;
  outline: none;
}

/* BANNER  */
.banner {
  height: 100vh;
  min-height: 40rem;
  background-image: url("Archivos/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner__content {
  color: var(--color-neutro1);
  padding: var(--space-lg);
}

.banner__titulo {
  font-family: var(--font-pr);
  font-size: var(--h1-size);
  font-weight: 400;
  color: var(--color-neutro1);
  margin-bottom: var(--space-md);
}

.banner__subtitulo {
  font-family: var(--font-r);
  font-size: var(--h2-size);
  font-weight: 400;
  color: var(--color-neutro1);
  margin-bottom: var(--space-lg);
}
/* Botón del banner - Ordena aquí */
.banner__button{
  background: var(--color-terciario);
  color: var(--color-neutro1);
  border: none;
  padding: 0.9rem 2.2rem;   
  border-radius: 999px;       
  font-family: var(--font-p);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.6rem rgba(0,0,0,0.20);
}

.banner__button:hover{
  transform: translateY(-1px);
}

.banner__button:active{
  transform: translateY(0);
}

/* CATEGORÍAS (CARRUSEL FLEX) */

.categorias{
  padding-top: 6rem; 
}

.categorias__titulo{
  text-align: center;
  font-family: var(--font-pr);
  font-size: var(--h2-size);
  font-weight: 400;
  color: var(--color-principal);
  margin-bottom: var(--space-lg);
}

.categorias__carousel{
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
}

.categorias__track{
  display: flex;
  gap: 1.5rem;
  transition: transform 0.5s ease-in-out;
}

.categorias__item{
  flex: 0 0 calc((100% - 4.5rem) / 4);
}


.card{
  background: var(--color-neutro1);
  border-radius: var(--radius);
  padding: var(--space-sm);
  box-shadow: 0 0.25rem 0.6rem rgba(0,0,0,0.1);
  text-align: center;
}

.card__image{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: var(--radius);
}

.card__title{
  margin-top: var(--space-sm);
  font-family: var(--font-p);
  font-size: var(--p-size);
  font-weight: 400;
  color: var(--color-neutro2);
  cursor: pointer;
}
.categorias__indicadores {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.categorias__punto {
  width: 8px;
  height: 8px;
  background-color: var(--color-secundario);
  border-radius: 50%;
  transition: 0.3s;
}

.categorias__punto--activo {
  background-color: var(--color-principal); 
  transform: scale(1.2);
}
/* SOBRE NOSOTROS + REGÍSTRATE*/

.about{
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
}

.about__container{
  width: 100%;
  max-width: 75rem;
  display: flex;
  gap: 3rem;
  align-items: stretch;
}

/* IZQ SOBRE NOSOTROS */
.about__info{
  flex: 1;
  background: var(--color-secundario);
  border-radius: 1.25rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__titulo{
  font-family: var(--font-pr); 
  font-size: var(--h2-size);      
  font-weight: 400;
  color: var(--color-principal);
  text-align: center;
  margin-bottom: 2rem;
}

.about__text{
  font-family: var(--font-p);
  font-weight: 400 ;
  font-size: var(--p-size);
  color: var(--color-neutro2);
  text-align: justify;
  line-height: 1.7;
  margin-bottom: 2rem;
}

/* Botones */
.about__buttons{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.about__button{
  flex: 1;
  background: var(--color-neutro1);
  font-family: var(--font-r);
  font-size: var(--h5-size);
  color: var(--color-principal);
  border: none;
  border-radius: 999px;
  padding: 0.8rem 1rem;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.45rem rgba(0,0,0,0.08);
}

/* DERECHA: REGISTRO */
.registro{
  flex: 1;
  background: var(--color-neutro1);
  border-radius: 1.25rem;
  padding: 3rem;
  border: 0.125rem solid rgba(75,46,43,0.55);
}

.registro__titulo{
  font-family: var(--font-pr); 
  font-size: var(--h2-size);
  font-weight: 400;
  color: var(--color-principal);
  text-align: center;
  margin-bottom: 0.5rem;
}

.registro__subtitulo{
  font-family: var(--font-p);
  font-size: var(--p-size);
  font-weight: 400;
  color: var(--color-neutro2);
  text-align: center;
  margin-bottom: 2rem;
}

.registro__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registro__input,
.registro__textarea{
  width: 100%;
  padding: 0.85rem 1rem;
  border-radius: 0.9rem;
  border: 0.1rem solid rgba(75,46,43,0.55);
  font-family: var(--font-p);
  font-size: 1rem;
  outline: none;
}

.registro__textarea{
  min-height: 8rem;
  resize: none;
}

.registro__button{
  margin: 1.5rem auto 0 auto;
  background: var(--color-terciario);
  color: var(--color-neutro1);
  border: none;
  padding: 0.9rem 2.6rem;
  border-radius: 999px;
  font-family: var(--font-p);
  font-size: var(--h6-size);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.6rem rgba(0,0,0,0.20);
}
/*  FOOTER  */
.footer{
  background:var(--color-principal);
  padding: 3rem 2rem;
}


.footer h6{
  font-family: var(--font-r);
  font-size: var(--h6-size);
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-neutro1);
}

/* Contenedor principal */
.footer__container{
  max-width: 75rem; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

/* BLOQUE IZQUIERDO*/

.footer__brand{
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

/* Bandera */
.footer__flag{
  width: 4.5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem ;
}

/* Bloque legal */
.footer__legal{
  display: flex;
  flex-direction: column;
}

/* Espacio entre TODOS... y NIT */
.footer__legal h6:first-child{
  margin-bottom: 0.8rem;
}

/* Redes sociales EXACTAMENTE debajo del NIT */
.footer__social{
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

/* Iconos */
.footer__social-link{
  color: var(--color-neutro1);
  font-size: var(--h6-size);
  transition: 0.3s ease;
}

.footer__social-link:hover{
  color: var(--color-terciario);
  transform: translateY(-3px);
}

/*  BLOQUE DERECHO */

.footer__right{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.footer__title{
  margin-bottom: 0.6rem;
}

.footer__link{
  cursor: pointer;
  transition: 0.2s ease;
}

.footer__link:hover{
  color: var(--color-terciario);
}

