body{
font-family: Arial;
background:#f5f6fa;
text-align:center;
padding:40px;
}

h1{
margin-bottom:40px;
}

.fila{
margin-bottom:25px;
text-align: center;
}

#casos{
max-width:900px;
margin:auto;
}

.caso{
background:white;
padding:20px;
margin:20px auto;
border-radius:10px;
border:1px solid #ddd;
}

.contenedor{
display:flex;
justify-content:center;
gap:80px;
margin-top:10px;
}

.bloque{
display:flex;
flex-direction:column;
align-items:center;
}

.linea{
display:flex;
gap:8px;
margin-top:10px;
}

input{
width:45px;
height:45px;
text-align:center;
font-size:18px;
border:2px solid #2c3e50;
border-radius:6px;
}

button{
padding:10px 20px;
font-size:16px;
background:#2c3e50;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1f2d3a;
}

.resultado{
margin-top:15px;
font-size:20px;
font-weight:bold;
}

.oculto{
display:none;
}