<section class="coffee-about" id="nosotros">
  <div class="coffee-about__container">
    <div class="coffee-about__info">
      <h2 class="coffee-about__title">Sobre Nosotros</h2>
      <p class="coffee-about__text">
        Bienvenidos, somos una cafetería artesanal fundada en 2015, dedicada a ofrecer
        productos con café Colombiano de alta calidad. Trabajamos con productos locales
        y cuidamos de cada proceso de tostado.
      </p>
      <app-about-buttons></app-about-buttons>
    </div>

    <app-register-form-about></app-register-form-about>
  </div>
</section>
