<footer class="coffee-footer">
  <div class="coffee-footer__container">
    <div class="coffee-footer__left">
      <div class="coffee-footer__brand">
        <img class="coffee-footer__flag" src="images/colombia.jpg" alt="Colombia" />
        <div class="coffee-footer__legal">
          <h6 class="coffee-footer__text">@TODOS LOS DERECHOS RESERVADOS</h6>
          <h6 class="coffee-footer__text">NIT 900.100.234-8. Calle 99 # 14-90 Bogotá, Colombia</h6>
          <app-social-links></app-social-links>
        </div>
      </div>
    </div>
    <div class="coffee-footer__right">
      <h6 class="coffee-footer__title">Te ayudamos:</h6>
      <h6 class="coffee-footer__link">Venta telefónica</h6>
      <h6 class="coffee-footer__link">Estado de mi pedido</h6>
    </div>
  </div>
</footer>
