<div class="login-form">
  <app-app-logo></app-app-logo>
  <h2 class="login-form__title">Iniciar Sesión</h2>
  <p class="login-form__subtitle">Ingresa tus credenciales</p>

  <app-input-field
    label="Correo electrónico"
    type="email"
    placeholder="usuario&#64;email.com"
    [value]="correo"
    (valueChange)="correo = $event">
  </app-input-field>

  <app-input-field
    label="Contraseña"
    type="password"
    placeholder="••••••••"
    [value]="contrasena"
    (valueChange)="contrasena = $event">
  </app-input-field>

  @if (errorMessage) {
    <p class="login-form__error">{{ errorMessage }}</p>
  }
  <div class="login-form__button">
    <app-button label="Ingresar" (clicked)="onSubmit()"></app-button>
  </div>

  <app-link-text
    text="¿No tienes cuenta?"
    linkLabel="Regístrate"
    (linkClicked)="switchToRegister.emit()">
  </app-link-text>
</div>
