<div class="gallery">
  <h2>GALERÍA DE EXPLORACIÓN</h2>
  <div class="grid">
    <app-pokemon-card
      *ngFor="let pokemon of pokemons"
      [pokemon]="pokemon"
      (click)="selectPokemon.emit(pokemon)">
    </app-pokemon-card>
  </div>
 <div class="pagination-wrapper">
  <div class="pagination-buttons">
    <button (click)="prev.emit()" [disabled]="offset === 0">Anterior</button>
    <button (click)="next.emit()">Siguiente</button>
  </div>
  <span class="page-number">Página {{ currentPage }}</span>
</div>
</div>
